# Ignore backup and temp files
*~
\#*#
\.\#*

# Object files 
*.o

# Log files
*.log

# configure scan files
configure.scan

# Anything in the top-level directory
/*
# Except makefiles
!/*akefile
# And any autoconf input files
!/*.in
# And subdirectories of the proj dir 
!/*/

# Automake cache directory
autom4te.cache/

# Make-generated dependency files
*.d
*.dep
#
# The contents of the test/log subdirectory
/test/log/*

# The test/pgdata subdirectory
/test/pgdata

# Any postgres configuration and dump files
/test/*.dmp

# Any postgres configuration and dump files
/test/*.conf

# The symlink to the good/hacked check library
/test/libcheck.a

# The symlink to the good/hacked check header
/test/check.h

# XML test data files for diffdeps, etc
test/data/depdiffs_*.xml
test/data/gendiffs_*.xml

# The contents of the testdb subdirectory
/testdb

# The contents of the regress/REGRESSDB subdirectory
/regress/REGRESSDB/

# The contents of the regress/scratch subdirectory
/regress/scratch*/

# The contents of the regress/tmp subdirectory
/regress/tmp

# The local pg installation
/regress/tmp_pg

# Suppression files
valgrind/*suppressions

# And the list of things to test
valgrind/alltests
valgrind/out

# The dbdump directory
dbdump/

# Generated stuff in the doc directory.
doc/version.sgml
doc/skit.xml
doc/html
doc/man
